body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#profile-section {
    margin: 2rem;
}

#profile-info {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}