@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --default-height-header: 3.5rem;

    --background-color-main: rgb(20, 20, 20);
    --main-title-color: rgb(109, 240, 79);
    --main-text-color: azure;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: var(--main-title-color);
}

h2{
    font-size: 45px;
    line-height: 55px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

h3{
    font-size: 36px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

h4{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

h6{
    font-size: 12px;
    font-weight: 600;
}

p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(208, 208, 208);
}

body{
    width: 100%;
    background-color: var(--background-color-main);
    color: var(--main-text-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

input{
    border: none;
    outline: none;
}

/* header */

#header-index{
    background: transparent;
}

.header{
    padding: 20px 80px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(8, 8, 8), rgb(13, 13, 13), rgb(20, 20, 20));
}

.container{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    justify-content: space-between;
    background-color: transparent;
}

/* navbar */
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}

.nav-item{
    padding: 0px 20px;
    position: relative;
}

.nav a{
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.3s ease;
}

.nav a:hover{
    color: rgba(255, 255, 255, 0.64);
}

.nav-list a:hover,
.nav-list a.active{
    color: rgba(139, 232, 245, 0.925);
}

.nav-list a.active::after,
.nav-list a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgba(130, 222, 234, 0.925);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.nav-logo i{
    padding-right: 10px;
    padding-left: 10px;
}

.nav-logo{
    font-size: 24px;
    font-weight: 800;
}

.nav-list i{
    transform: scale(1.2);
}

/* Style the submit button */
form.search button {
    float: right;
    position: relative;
    width: 30px;
    padding: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    background: #2196F3;
    color: white;
    font-size: 16px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
} 

form.search button:hover {
    background: #0b7dda;
  }
  
/* Clear floats */
form.search::after {
    content: "";
    clear: both;
    display: table;
  }

/* Search box inside the navigation bar */
.nav-item input[type=text] {
    float: right;
    padding: 2px;
    border: none;
    margin-top: 6px;
    margin-right: 16px;
    font-size: 17px;
}

/*Dropdown menu*/
.dropbtn {
    
    background:rgba(139, 232, 245, 0.925);
    color: black;
    padding: 5px;
    width: 40px;
    font-size: 16px;
    border:#1b1919;
  }
  
  .dropdown {
    position: left;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(255, 255, 255);;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #62bec1;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgba(139, 233, 245, 0.406)}

  .dropdown-content h6 {
    font-size: 12px;
    float: center;
    color:  rgb(26, 91, 78);
    padding-left: 10px;
}

/*User dropdown menu*/
.user-btn {
    
    background:transparent;
    color: black;
    padding: 5px;
    width: 40px;
    font-size: 16px;
    border:#1b1919;
  }
  
  .user-down {
    position: left;
    display: inline-block;
  }
  
  .user-content {
    display: none;
    position: absolute;
    background-color:rgb(255, 255, 255);;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .user-content a {
    
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .user-content a:hover {background-color: #62bec1, color(rgb(26, 91, 78));}
  
  .user-down:hover .user-content {display: block;}
  
  .user-down:hover .user-btn {background-color: #62bec1}


/*Chat-box*/

.chat-icon{
    position: fixed;
    right: 20px;
    bottom: 0;
    font-size: 80px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}
.chat-box{
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 400px;
    height: 75vh;
    background:rgb(236, 196, 67);
    z-index: 1000;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
}

.chat-box.active{
    transform: scaleY(1);
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background: #192a56;
    color: white;
    border: none;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 1000;
}

.chat-button img {
    width: 60px;
    height: 60px;
}

.chat-container {
    right: 10px;
    bottom: 20px;
    display: none;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #4caf50;
    color: white;
    padding: 10px 16px;
    font-weight: bold;
    text-align: center;
}

.chat-body {
    padding: 10px 16px;
    max-height: 200px;
    overflow-y: auto;
}

.chat-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    background-color: white;
    padding: 8px 16px;
}

.chat-footer button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.chat-footer button:hover {
    background-color: #45a049;
}

.shopbanner{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../Img/background1.JPG");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

.shopbanner h1{
    color: rgb(159, 202, 255);
    text-shadow: 0 0 3px #1b1919, 0 0 5px #000000;
}
.shopbanner h2{
    padding: 10px 0;
    text-shadow: 0 0 3px #1b1919, 0 0 5px #000000;
}

.shopbanner h2 span{
    color: rgb(255, 171, 125);
    text-shadow: 0 0 3px #1b1919, 0 0 5px #000000;
}

/* Featured Products */

.feature-product{
    text-align: center;
    padding: 40px 80px;
    margin-top: 40px;
}

.feature-product .product{
    width: 23%;
    min-width: 250px;
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px, 20px 30px rgb(16, 16, 16);
    margin: 15px 0px;
    transition: 0.2s;
}

.feature-product .product:hover{
    box-shadow: 20px, 20px 30px black;
}

.feature-product .product img{
    width: 100%;
    border-radius: 10px;
}

.feature-product .product .description{
    text-align: start;
    padding: 10px 0px;
}

.feature-product .product .description span{
    color: rgb(188, 170, 114);
}

.feature-product .product .description h5{
    font-size: 20px;
    padding: 2px 0px;
}

.feature-product .product .description i{
    font-size: 12px;
    color: yellow;
}

.feature-product .product .description h4{
    font-size: 18px;
    color: rgb(70, 255, 147);
    padding-top: 7px;
    font-weight: 700;
}

.feature-product .description a{
    width: 40px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    background-color: rgb(46, 46, 46);
    font-weight: 500;
    color: rgb(236, 196, 67);
    padding: 10px 15px;
    border: 1px solid rgb(58, 58, 58);
}

.feature-product .product-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

/*Shop product*/

.shop-product{
    text-align: center;
    padding: 40px 80px;
    margin-top: 40px;
}

.shop-product .product{
    width: 23%;
    min-width: 250px;
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px, 20px 30px rgb(16, 16, 16);
    margin: 15px 0px;
    transition: 0.2s;
}

.shop-product .product:hover{
    box-shadow: 20px, 20px 30px black;
}

.shop-product .product img{
    width: 100%;
    border-radius: 10px;
}
.shop-product .product img:hover{
    transform:scale(1.5);
}

.shop-product .product .description{
    text-align: start;
    padding: 10px 0px;
}

.shop-product .product .description span{
    color: rgb(188, 170, 114);
}

.shop-product .product .description h5{
    font-size: 20px;
    padding: 2px 0px;
}

.shop-product .product .description i{
    font-size: 12px;
    color: yellow;
}

.shop-product .product .description h4{
    font-size: 18px;
    color: rgb(70, 255, 147);
    padding-top: 7px;
    font-weight: 700;
}

.shop-product .product a{
    width: 40px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    background-color: rgb(46, 46, 46);
    font-weight: 500;
    color: rgb(236, 196, 67);
    padding: 10px 15px;
    border: 1px solid rgb(58, 58, 58);
}

.shop-product .product-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

/*Add to cart section*/

.product-details .product .description h5{
    font-size: 20px;
    padding: 2px 0px;
}

.product-details .product-container .cart-container {
    top: 0;
    left: 0;
    width: 500px; /* Set the desired width for the container*/
    height: 500px;
    background-color: rgb(15, 15, 15);
    z-index: 1; /* Ensure container appears on top of other elements */
    display: none; /* Initially hidden */
  }

  .product-details .product-container .cart-container i{
    font-size: 12px;
    color: black;
}

.product-details .product-container .cart-container button{
    width: 40px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    background-color: rgb(46, 46, 46);
    font-weight: 500;
    color: rgb(236, 196, 67);
    padding: 10px 15px;
    border: 1px solid rgb(58, 58, 58);
}

.product-details .product-container .cart-container .product-details h5{
    color: #000000;
}

.product-details .product-container .cart-container .size-selection option{
    color: #000000;
}

/* Footer Section */

footer{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgb(4, 4, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h3{
    color: rgb(231, 255, 227);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

footer p{
    color: rgb(231, 255, 227);
    font-size: 13.5px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    margin-bottom: 18px;
}

footer h6{
    color: rgb(206, 179, 97);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}

/* Footer Socials */

.socials{
    display: flex;
    flex-direction: row;
}

.socials a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(203, 139, 0);
    border-radius: 30px;
    margin: 10px 10px;
    color: white;
    font-size: 20px;
}

.socials a:hover{
    transform: scale(1.1);
    background-color: rgb(120, 92, 0);
    border: 2px solid rgb(238, 255, 0);
    cursor: pointer;
    transition: .5s;
}


.sml-img-grp{
    display: flex;
    justify-content: space-between;
}

.sml-img-col{
    flex-basis: 32.5%;
}

.sml-img{
    cursor: pointer;
}

.pagination{
    text-align: center;
    padding-bottom: 50px;
}

.pagination a{
    font-weight: 600;
    padding: 15px 22px;
    text-decoration: none;
    background-color: rgb(145, 255, 106);
    border-radius: 10px;
    margin: 10px 2px;
    color: rgb(70, 70, 70);
}

.pagination a:hover{
    background-color: rgb(72, 138, 70);
    border: 2px solid rgb(62, 255, 88);
    color: antiquewhite;
    cursor: pointer;
}

.pagination a i{
   font-weight: bold;
}

#about img{
    width: 50%;
    margin-right: 75px;
    border-radius: 20px;
}
